*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --image-height: 250px;
  --clr-white: #fff;
  --clr-light: #f6f6f6;
  --clr-light-grey: #e2e2e2;
  --clr-purple: #6c567b;
  --clr-dark: #010a43;
  --clr-hotpink: #cc0066;
  --clr-yellow: #ffcc00;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f7fbfb;
  line-height: 1.65;
  color: var(--clr-dark);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

code {
  padding: 1px;
  font-size: 1rem;
  background-color: #cffffe;
  border: 1px solid #b6dfde;
}

.github-corner {
  background-color: transparent;
  text-decoration: none;

  svg {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    fill: var(--clr-hotpink);
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.25s ease-in;

    &:hover {
      opacity: 1;
    }
  }
}

.experiments {
  display: block;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto 1.4rem;
}

header {
  padding: 6rem 1rem;
  text-align: center;
}

.social-list {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  a {
    padding: 0.2rem 0.7rem;

    &:hover svg {
      transform: scale(1.1);
    }
  }
}

.experiments__header {
  margin: 2.75rem 0 1.5rem;
  line-height: 1.15;
  font-size: 3.7rem;
  font-weight: 300;
}

.experiments__subtitle {
  font-weight: 300;
  font-size: 1.2rem;
}

.experiments__section {
  margin: 2rem 0;
}

.experiments__section__title {
  display: inline;
  position: relative;
  font-size: 1.7em;
  line-height: 1.15;
  font-weight: 400;

  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    bottom: -1px;
    background-color: var(--clr-yellow);
    background-image: linear-gradient(
      90deg,
      var(--clr-yellow) 0%,
      var(--clr-hotpink) 100%
    );
  }
}

.experiments__list {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1.5rem;
}

.experiments__list__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-light-grey);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 2px 4px 0 rgba(14, 30, 37, 0.12);
  transition: box-shadow 0.3s ease-out;

  &--single {
    grid-column: 1 / 2;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  img {
    object-fit: cover;
    width: 100%;
    display: block;
    border-style: none;
    height: auto;

    @media (min-width: 700px) {
      height: var(--image-height);
    }
  }

  a {
    transform: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.9;
    }
  }
}

.experiment__name {
  line-height: 1.3;
  font-size: 1.7em;
}

.item-info {
  border-top: 1px solid var(--clr-light-grey);
  padding: 2em;
  flex: 1;
  display: flex;
  flex-direction: column;

  p {
    margin-top: 0;
  }

  .figma,
  .html,
  .css,
  .js,
  .testing,
  .react,
  .angular {
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    margin-right: 1rem;
    font-weight: bold;
  }

  .figma {
    color: #216353;
  }

  .html {
    color: #3c6f9c;
  }

  .css {
    color: #b030b0;
  }

  .js {
    color: #6e5773;
  }

  .testing {
    color: #3f8259;
    letter-spacing: 0.5px;
  }

  .react {
    color: #bd245f;
  }

  .angular {
    color: #d00606;
  }
}

.experiment__links {
  margin-top: auto;
}

.link {
  display: inline-block;
  padding: 0.7em 0.8em;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border: 2px solid var(--clr-purple);

  &:hover {
    opacity: 1;
  }

  &:active {
    background-color: var(--clr-purple);
    color: var(--clr-white);
  }
}

.link-primary {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

.link-secondary {
  margin-left: 10px;
  color: var(--clr-purple);
  background-color: var(--clr-white);
  &:hover {
    box-shadow: inset 0 0 2px var(--clr-purple);
  }
}

.footer {
  margin: 5rem 0 0rem;
  padding: 1rem 0 1rem;
  text-align: center;
  background-color: #27272c;
  font-size: 14px;
  color: var(--clr-white);

  a {
    color: inherit;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
